@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 22, 13, 20;
  --background-end-rgb: 22, 13, 20;
  /* Dark Pink */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    /*  */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #160d14;
  color: white;
}

    ::-webkit-scrollbar {
      width: 10px;
    }
  
    ::-webkit-scrollbar-track {
      background: #160d14;
      border-radius: 5px;
    }
  
    ::-webkit-scrollbar-thumb {
      background: rgba(219, 112, 147);
      border-radius: 5px;
    }
  
    ::-webkit-scrollbar-thumb:hover {
      background: rgb(58, 34, 53)
    }


.custom-container {
  background-color: #352332;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
}

.projects {
  margin-top: 10px;
}

@media screen and (min-width: 640px) {
  .custom-container {
    width: auto;
    max-width: 80%;
  }

  .project-header {
    font-size: 2rem;
  }

    .text-center {
    margin-top: 2rem;
  }

    .sm:text-center {
    margin-top: 3rem;
  }

  .text-container {
    margin-top: 20px; 
  }
}

@media screen and (max-width: 640px) {
  .mt-mobile {
    margin-top: 120px;
  }

        .project-container {
          position: relative;
          /* Position the entire container */
          top: -10px;
          /* Move the entire container 10px up on desktop */
        }
}

@media screen and (min-width: 1280px) {
  .mt-desktop {
    margin-top: 10px;
    /* Margin for desktop screens larger than 1280px */
  }
}

.project-header {
  color: #be529c;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.custom-container h1 {
  color: #be529c;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.custom-container p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgb(224, 212, 212);
  overflow-wrap: break-word;
  max-width: 500px;
}

.custom-container .icon {
  margin-top: 30px;
}

.custom-container .icon svg {
  width: 40px;
  height: 40px;
  fill: #bf4397;
}

.badge {
  background-color: #f0629180;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}