@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background-color: #160d14;
  color: white;
}

/* color fixing */

.primary-color {
  background-color: #be529cd7;
}

.secondary-color {
  background-color: #d67fba;
}

.primary-hover:hover {
  background-color: #942f74d2;
}

.secondary-hover:hover {
  background-color: #914d7bb2;
}

/* scrollbar */

body.dialog-open {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
  
::-webkit-scrollbar-track {
  background: #352332;
  border-radius: 5px;
}
  
::-webkit-scrollbar-thumb {
  background: #be529c;
  border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
  background: rgb(58, 34, 53)
}

/*
  position absolute, top/left, transform are not necessary, and can be made differently that's easier 
  to work with, but i dont feel like changing it. if it works it works, i dont feel like making responsiveness 
  for a 650p device [galaxy fold], because on every other device it works as inteded.

  #FuckGalaxyFold
*/

.custom-container {
  background-color: #352332;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 90%;
  max-width: 95%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
}

.custom-container h1 {
  color: #be529c;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.custom-container p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgb(224, 212, 212);
  overflow-wrap: break-word;
  max-width: 500px;
}

.custom-container .icon {
  margin-top: 30px;
}

.custom-container .icon svg {
  width: 40px;
  height: 40px;
  fill: #bf4397;
}

/* this is really stupid to include in here... */

.projects {
  margin-top: 10px;
}

/* some stupid responsiveness for devices */

@media screen and (min-width: 640px) {
  .custom-container {
    width: auto;
    max-width: 80%;
  }

  .project-header {
    font-size: 2rem;
  }

    .text-center {
    margin-top: 2rem;
  }

    .sm:text-center {
    margin-top: 3rem;
  }

  .text-container {
    margin-top: 20px; 
  }
}

@media screen and (max-width: 640px) {
  .mt-mobile {
    margin-top: 120px;
  }

  .project-container {
    position: relative;
    top: -10px;
  }
}

@media screen and (min-width: 1280px) {
  .mt-desktop {
    margin-top: 10px;
  }
}

/* project css kind of needed but ehhh */

.project-header {
  color: #be529c;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* a's for profile uwu */

.hyperlink {
  transition: 0.3s;
  color: #d67fba;
  text-decoration: none;
}

.hyperlink:hover {
  transition: 0.3s;
  color: #bf4397;
}